@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
}

.jumbotron {
    font-family: 'Poppins';
    background-color: #4A4E69;
    width: 100%;
    height: 650px;
}

.jumbotron h1 {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 43px;
    padding-top: 17%;
    padding-left: 5%;
}

.jumbotron p {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    width: 400px;
    padding-left: 5%;
    padding-top: 1.5%;
}

.jumbotron button {
    background-color: #FFFFFF;
    color: #4A4E69;
    width: 152px;
    height: 50px;
    border-radius: 15px;
    border-color: #FFFFFF;
    border-style: hidden;
    margin-left: 5%;
    margin-top: 1.5%;
}

.DARY {
    font-family: 'Poppins';
    height: 650px;
}

.DARY h1 {
    display: flex;
    margin-top: 13%;
    justify-content: center;
    font-family: 'Poppins';
    color: #4A4E69;
    size: 64px;
    font-weight: 600;
}

.DARY p {
    display: flex;
    justify-content: center;
    width: 50%;
    font-family: 'Poppins';
    color: #4B4B4B;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2%;
}