@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
}

li, a{
    padding: 0px 5px;
    text-decoration: none;
    list-style: none;
    display: inline;
}

.jumbotron {
    font-family: 'Poppins';
    background-color: #4A4E69;
    width: 100%;
    height: 650px;
}

.jumbotron h1 {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 43px;
    padding-top: 17%;
    padding-left: 5%;
}

.jumbotron p {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    width: 400px;
    padding-left: 5%;
    padding-top: 1.5%;
}

.jumbotron button {
    background-color: #FFFFFF;
    color: #4A4E69;
    width: 152px;
    height: 50px;
    border-radius: 15px;
    border-color: #FFFFFF;
    border-style: hidden;
    margin-left: 5%;
    margin-top: 1.5%;
}

.DARY {
    font-family: 'Poppins';
    height: 650px;
}

.DARY h1 {
    display: flex;
    margin-top: 9%;
    justify-content: center;
    font-family: 'Poppins';
    color: #4A4E69;
    size: 64px;
    font-weight: 600;
}

.DARY p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-family: 'Poppins';
    color: #4B4B4B;
    font-size: 20px;
    font-weight: 400;
    margin-top: 7%;
    margin-left: 25%;
}

.reason h1 {
    display: flex;
    margin-top: 4%;
    justify-content: center;
    font-family: 'Poppins';
    color: #4A4E69;
    size: 64px;
    font-weight: 600;
}

.col {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.col button {
    background-color: #4A4E69;
    color: #FFFFFF;
    width: 200px;
    padding: 4%;
    height: 80px;
    border-radius: 15px;
    border-color: #4A4E69;
    border-style: hidden;
}

footer {
    position: absolute;
    width: 100%;
    height: 230px;
    background: #4A4E69;
    font-family: 'Poppins';
}

footer:hover {
    cursor: pointer;

}

.fttop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 5% 1% 5%;
    font-family: 'Poppins';
}

.fttop ul {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Poppins';
}

.sm {
    width: 13%;
    text-align: center;
}

.sm img {
    padding: 5%;
}

hr {
    box-sizing: content-box;
    margin-left: 5%;
    color: #FFFFFF;
    width: 90%;
}

.ftbtm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 1% 5%;
    font-family: 'Poppins';
}

.ftbtm p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    font-family: 'Poppins';
}

.ftbtm ul {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Poppins';
}